# ignore these in any and all subdirectories
.idea
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

xcuserdata

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

## Gcc Patch
*.gcno